.wrapper {
    background: rgb(221, 218, 218);
    background-image: url('http://www.desktopimages.org/pictures/2012/0605/1/pokemon-ninetails-black-background-1920x1200-wallpaper-550751.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    padding-bottom: 50px;
  }